<!DOCTYPE html>
<html lang="pl">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/oferts.css">
    <script src="https://kit.fontawesome.com/ebcb7e8a33.js" crossorigin="anonymous"></script>
    <title>OFERTS</title>
</head>

<body>
    <div class="container-main-page">
        <nav>
            <div class="logo-nav">
                <img src="../img/logo.svg" alt="logo">
            </div>
        </nav>
        <form class="filter">
            <div class="dropdown-with-title">
                <p>Lokalizacja</p>
                <input name="lokalizacja" type="text" placeholder="wpisz"></input>
            </div>
            <div class="dropdown-with-title">
                <p>Termin</p>
                <input name="termin" type="text" placeholder="wpisz"></input>
            </div>
            <div class="dropdown-with-title">
                <p>Opieka nad</p>
                <select name="opioekaNad">
                    <option value=" "></option>
                </select>
            </div>
        </form>
        <section class="oferts-grid">
            <div id="single-ofert1">
                <img src="../img/oferts.jpg" alt="img">
                <div>
                    <h1>Some title</h1>
                    <div class="single-ofert-activities">
                        <i class="fa-solid fa-paw"></i>
                        <i class="fa-solid fa-seedling"></i>
                        <i class="fa-solid fa-broom"></i>
                        <i class="fa-regular fa-house-chimney-user"></i>
                    </div>
                </div>
            </div>
            <div id="single-ofert2">
                <img src="../img/oferts.jpg" alt="img">
                <div>
                    <h1>Some title</h1>
                    <div class="single-ofert-activities">
                        <i class="fa-solid fa-paw"></i>
                        <i class="fa-solid fa-seedling"></i>
                        <i class="fa-solid fa-broom"></i>
                        <i class="fa-regular fa-house-chimney-user"></i>
                    </div>
                </div>
            </div>
            <div id="single-ofert3">
                <img src="../img/oferts.jpg" alt="img">
                <div>
                    <h1>Some title</h1>
                    <div class="single-ofert-activities">
                        <i class="fa-solid fa-paw"></i>
                        <i class="fa-solid fa-seedling"></i>
                        <i class="fa-solid fa-broom"></i>
                        <i class="fa-regular fa-house-chimney-user"></i>
                    </div>
                </div>
            </div>
            <div id="single-ofert4">
                <img src="../img/oferts.jpg" alt="img">
                <div>
                    <h1>Some title</h1>
                    <div class="single-ofert-activities">
                        <i class="fa-solid fa-paw"></i>
                        <i class="fa-solid fa-seedling"></i>
                        <i class="fa-solid fa-broom"></i>
                        <i class="fa-regular fa-house-chimney-user"></i>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>