<!DOCTYPE html>
<html lang="pl">

<head>
    <title>OFERT-DETAILS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/ebcb7e8a33.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-main-page">
        <nav>
            <div class="logo-nav">
                <img src="../img/logo.svg" alt="logo">
            </div>
            <div class="nav-links">
                <a href="oferts.html">oferty</a>
                <a href="login.html">zaloguj</a>
            </div>
        </nav>
        <div class="about-house-container">
            <div class="about-house">
                <img src="../img/oferts-details.jpg" alt="house-img">
                <div>
                    <div>
                        <h1>Dom w sercu Sardyni</h1>
                        <p><b>Lokalizacja:</b> Pula, Sardynia, Włochy</p>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, odio hic unde, ipsum modi
                        commodi aliquam fuga reprehenderit harum reiciendis velit quaerat facilis nam eaque omnis,
                        blanditiis corrupti voluptate possimus.</p>
                    <button class="medium-color-button">Wybierz</button>
                </div>
            </div>
        </div>
        <div class="details-with-title-container">
            <div class="details-with-title">
                <p><b>Dostępność</b></p>
                <div class="availability">
                    <div>
                        <i class="fa-regular fa-calendar"></i>
                        <p>niedz. 16 GRU — pt. 21 GRU</p>
                    </div>
                    <div>
                        <p>Opieka nad:</p>
                        <i class="fa-solid fa-paw"></i>
                        <i class="fa-solid fa-seedling"></i>
                        <i class="fa-solid fa-broom"></i>
                        <i class="fa-regular fa-house-chimney-user"></i>
                    </div>
                    <div>
                        <i class="fa-regular fa-user"></i>
                        <p>7 osób</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-with-title-container">
            <div class="details-with-title">
                <p><b>Wymagania</b></p>
                <div class="requirements">
                    <div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet veritatis, quo eaque
                            soluta maiores aliquid rerum amet ipsa distinctio error nemo rem architecto, repudiandae
                            eligendi, omnis dolore ab excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Qui eveniet veritatis, quo eaque
                            soluta maiores aliquid rerum amet ipsa distinctio error nemo rem architecto, repudiandae
                            eligendi, omnis dolore ab excepturi?</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-seedling"></i>
                        <i class="fa-solid fa-broom"></i>
                        <i class="fa-regular fa-house-chimney-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-with-title-container">
            <div class="details-with-title">
                <p><b>Lokalizacja</b></p>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10486.139684895286!2d13.843767274304078!3d44.87042141860888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477cd2de09337b6d%3A0x72324a3a7b4e580d!2sPula%2C%20Chorwacja!5e0!3m2!1spl!2spl!4v1668254305540!5m2!1spl!2spl"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>

</html>