@media (max-width: 759px) {
    .oferts-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        overflow: auto;
        width: 100vw;
        height: 80vh;
    }

    .oferts-grid>div {
        border-radius: 25px 25px 0px 0px;
        width: 70vw;
        height: 45vh;
        margin: auto;
    }

    .oferts-grid>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .oferts-grid>div>img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }

    .oferts-grid>div>div>h1 {
        text-align: center;
    }

    .single-ofert-activities {
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .single-ofert-activities>i {
        font-size: 2em;
    }
}


@media (min-width: 760px) and (max-width: 1799px) {
    .oferts-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        overflow: auto;
        width: 100vw;
        height: 80vh;
    }

    .oferts-grid>div {
        border-radius: 25px 25px 0px 0px;
        width: 20vw;
        height: 25vh;
        margin: auto;
    }

    .oferts-grid>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .oferts-grid>div>img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }

    .oferts-grid>div>div>h1 {
        text-align: center;
    }

    .single-ofert-activities {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .single-ofert-activities>i {
        font-size: 2em;
    }
}

@media (min-width: 1800px) {
    .oferts-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        overflow: auto;
        width: 100vw;
        height: 80vh;
    }

    .oferts-grid>div {
        border-radius: 25px 25px 0px 0px;
        width: 20vw;
        height: 25vh;
        margin: auto;
    }

    .oferts-grid>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .oferts-grid>div>img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }

    .oferts-grid>div>div>h1 {
        text-align: center;
    }

    .single-ofert-activities {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .single-ofert-activities>i {
        font-size: 2em;
    }
}