@media (max-width: 759px) {
    .offers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        overflow: auto;
        width: 100vw;
        height: 80vh;
    }

    .offers>div {
        border-radius: 25px 25px 0px 0px;
        width: 70vw;
        height: 45vh;
        margin: auto;
    }

    .offers>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 5px rgba(94, 94, 94, 0.25);
        border-radius: 25px;
    }

    .offers>div>img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }

    .offers>div>div>h1 {
        text-align: center;
    }

    .singleOfferActivities {
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .singleOfferActivities>i {
        font-size: 2em;
    }
}


@media (min-width: 760px) and (max-width: 1799px) {
    .offers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        overflow: auto;
        width: 100vw;
        height: 80vh;
    }

    .offers>div {
        border-radius: 25px 25px 0px 0px;
        width: 20vw;
        height: 25vh;
        margin: auto;
    }

    .offers>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 5px rgba(94, 94, 94, 0.25);
        border-radius: 25px;
    }

    .offers>div>img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }

    .offers>div>div>h1 {
        text-align: center;
    }

    .singleOfferActivities {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .singleOfferActivities>i {
        font-size: 2em;
    }
}

@media (min-width: 1800px) {
    .offers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        overflow: auto;
        width: 100vw;
        height: 80vh;
    }

    .offers>div {
        border-radius: 25px 25px 0px 0px;
        width: 20vw;
        height: 25vh;
        margin: auto;
    }

    .offers>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 5px rgba(94, 94, 94, 0.25);
        border-radius: 25px;
    }

    .offers>div>img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }

    .offers>div>div>h1 {
        text-align: center;
    }

    .singleOfferActivities {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2em;
    }

    .singleOfferActivities>i {
        font-size: 2em;
    }
}