@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, regular;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 45vh;
    width: 30vw;
    padding-top: 25vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-side {
    background-image: url('../img/Rectangle\ 38.png');
    width: 50vw;
    height: 100vh;
    background-size: cover;
}

.right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    position: fixed;
    top: 1.5vh;
    left: 1.5vw;
}

.log-in-p {
    font-size: 32px;
    font-weight: bold;
    align-self: flex-start;
}

.input-with-title {
    display: flex;
    flex-direction: column;

}

.upper-label {
    margin: 5px;
}

.register-with-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.log-in-button {
    background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
    border-radius: 30px;
    width: 30vw;
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
}

.log-in-input {
    background: rgba(139, 162, 154, 0.3);
    border-radius: 30px;
    padding: 10px;
}