/* Fonts */

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

/* General */

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, regular;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
}

a {
    text-decoration: none;
}

@media (max-width: 759px) {
    .small-color-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 8vw;
        padding: 5px;
        font-weight: 600;
        color: #ffffff;
    }

    .medium-color-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width:  60vw;
        padding: 8px;
        font-weight: 600;
        font-size: 100%;
        color: #ffffff;
    }

    .small-button {
        border: 1px solid #6FAB87;
        border-radius: 22px;
        background-color: white;
        width: 30vw;
        padding: 5px;
        color: #000000;
        font-size: 80%;
        margin-bottom: 1em;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #6FAB87;
        width: 100vw;
        height: 20vh;
    }

    nav>div>a {
        font-size: 1em;
        margin: 0 1em;
        color: #ffffff;
    }


}

@media (min-width: 760px) and (max-width: 1799px) {
    .small-color-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 8vw;
        padding: 10px;
        font-weight: 600;
        color: #ffffff;
    }

    .medium-color-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 20vw;
        padding: 15px;
        font-weight: 600;
        font-size: 100%;
        color: #ffffff;
    }

    .small-button {
        border: 1px solid #6FAB87;
        border-radius: 22px;
        background-color: white;
        width: 16vw;
        padding: 10px;
        color: #000000;
        font-size: 100%;
        margin-bottom: 1.5em;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        background-color: #6FAB87;
        width: 100vw;
        height: 10vh;
    }

    nav>div>a {
        font-size: 1.1em;
        margin: 3.5em;
        color: #ffffff;
    }

    nav>div>img {
        height: 80%;
        width: auto;
    }

    .img-container {
        width: 40vw;
        height: 35vh;
        object-fit: cover;
    }

    .img-container>img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }
}

@media (min-width: 1800px) {
    .small-color-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 10vw;
        padding: 12px;
        font-weight: 600;
        font-size: 1.2em;
        color: #ffffff;
    }

    .medium-color-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 30vw;
        padding: 20px;
        font-weight: 600;
        font-size: 1.5em;
        color: #ffffff;
    }

    .small-button {
        border: 1px solid #6FAB87;
        border-radius: 22px;
        background-color: white;
        width: 12vw;
        padding: 15px;
        color: #000000;
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        background-color: #6FAB87;
        width: 100vw;
        height: 10vh;
    }

    nav>div>a {
        margin: 3.5em;
        color: #ffffff;
    }

    nav>div>img {
        height: 80%;
        width: auto;
    }
}



/* Special */


/* Login */


@media (max-width: 759px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        height: 100%;
        width: 100vw;
    }

    .left-side {
        /* top side */
        background-image: url('../img/Rectangle 38.png');
        width: 100vw;
        height: 30vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .right-side {
        /* botom side */
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .logo>img {
        position: fixed;
        top: 1.5vh;
        left: 1.5vw;
    }

    .log-in-p {
        font-size: 2em;
        font-weight: bold;
        align-self: center;
        color: #6FAB87;
        margin: 0;
    }

    .input-with-title {
        display: flex;
        flex-direction: column;
    }

    .upper-label {
        margin: 0.5em;
    }

    .register-with-link {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .log-in-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 80vw;
        padding: 10px;
        font-weight: 600;
        margin-top: 1em;
        color: #fff;
    }

    .log-in-input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 10px;
    }
}


@media (min-width: 760px) and (max-width: 1799px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        height: 45vh;
        width: 30vw;
        padding-top: 25vh;
    }

    .left-side {
        background-image: url('../img/Rectangle 38.png');
        width: 50vw;
        height: 100vh;
        background-size: cover;
    }

    .right-side {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo>img {
        position: fixed;
        top: 1.5vh;
        left: 1.5vw;
    }

    .log-in-p {
        font-size: 2.5em;
        font-weight: bold;
        align-self: flex-start;
    }

    .input-with-title {
        display: flex;
        flex-direction: column;
    }

    .upper-label {
        margin: 5px;
    }

    .register-with-link {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    .log-in-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 30vw;
        padding: 10px;
        font-weight: 600;
        margin-top: 1em;
        color: #000000;
    }

    .log-in-input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 10px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        height: 45vh;
        width: 30vw;
        padding-top: 25vh;
    }

    .left-side {
        background-image: url('../img/Rectangle 38.png');
        width: 50vw;
        height: 100vh;
        background-size: cover;
    }

    .right-side {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo>img {
        position: fixed;
        top: 5vh;
        left: 3vw;
        width: 10%;
        height: auto;
    }


    .log-in-p {
        font-size: 3em;
        font-weight: bold;
        align-self: flex-start;
    }

    .input-with-title {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }

    .upper-label {
        margin: 0.5em;
    }

    .register-with-link {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5em;
    }

    .log-in-button {
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%);
        border-radius: 30px;
        width: 30vw;
        padding: 20px;
        font-weight: 600;
        font-size: 1.5em;
        color: #000000;
    }

    .log-in-input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 20px;
        font-size: 1em;
    }
}



/* main page */



@media (max-width: 759px) {

    .container-main-page {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-nav {
        font-size: 2em;
        margin-top: 0.5em;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 36vw;
    }

    .nav-links {
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
    }

    .basic-info {
        color: #ffffff;
        width: 90vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .basic-info-background {
        display: flex;
        justify-content: center;
        background-image: url('../img/mainpage-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 60vh;
    }

    .basic-info>h1 {
        font-weight: bold;
        font-size: 1.2em;
    }

    .basic-info>p {
        font-weight: 600;
        font-size: 0.8em;
    }

    .select-date {
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-with-title {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dropdown-form {
        display: flex;
        flex-direction: column;
        height: 35vh;
        width: 65%;
        align-items: center;
        justify-content: stretch;
    }

    .dropdown-with-title>p {
        font-weight: 500;
        color: #6FAB87;
    }

    .dropdown-with-title>input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
    }

    .dropdown-with-title>select {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
        width: 50%;
    }

    .dropdown-form>button {
        margin-top: 5%;
        width: 50%;
        font-size: 80%;
    }

    .how-it-works {
        margin-top: 2em;
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-it-works-container {
        display: flex;
        flex-direction: column;
        height: 150vh;
        width: 80%;
    }

    .user-types {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1em 2em;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 5px rgba(94, 94, 94, 0.25);
        border-radius: 20px;

    }

    .user-types>h2 {
        color: #6FAB87;
        text-align: center;
        font-weight: bold;
    }

    .user-types>p {
        text-align: center;
        font-weight: 500;
        margin: 1em 2em;
        font-size: 70%;
    }



    .user-types>button {
        width: 80%;
        margin-bottom: 1em;
    }

    .who-we-are {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 60vh;
        background-image: url('../img/mainpage-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .who-we-are>h1 {
        color: #FFFFFF;
        font-size: 2em;
        font-weight: bold;
    }

    .who-we-are>p {
        color: #FFFFFF;
        font-size: 1em;
        width: 70%;
        text-align: center;
    }

    .img-container-mainpage {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }
    .img-container-mainpage>img {
        height: 90%;
        width: 90%;
        object-fit: contain;

    }
}

@media (min-width: 760px) and (max-width: 1799px) {

    .container-main-page {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .logo-nav {
        margin-top: 2.5em;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 2.5em;
    }

    .nav-links {
        align-items: flex-end;
        justify-items: end;
        margin-right: 1em;
    }

    .basic-info {
        color: #ffffff;
        width: 35vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5em;
    }

    .basic-info-background {
        background-image: url('../img/mainpage-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 75vh;
    }

    .basic-info>h1 {
        font-weight: bold;
        font-size: calc(100% + 1.6vw);
    }

    .basic-info>p {
        font-weight: 600;
        font-size: calc(100% + 0.2vw);
    }

    .select-date {
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-with-title {
        width: 20%;
        color: aqua;
    }

    .dropdown-form {
        display: flex;
        height: 100%;
        width: 65%;
        align-items: center;
        justify-content: space-around;
    }

    .dropdown-with-title>p {
        font-weight: 500;
        color: #6FAB87;
    }

    .dropdown-with-title>input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
    }

    .dropdown-with-title>select {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
        width: 7vw;
    }

    .dropdown-form>button {
        margin-top: 2%;
        font-size: 100%;
    }

    .how-it-works {
        margin-top: 1.6em;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-it-works-container {
        display: flex;
        height: 75vh;
        width: 80%;
    }

    .user-types {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 2em 2em;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 5px rgba(94, 94, 94, 0.25);
        border-radius: 20px;
        width: 40vw;
    }

    .user-types>h2 {
        color: #6FAB87;
        text-align: center;
        font-weight: bold;
    }

    .user-types>p {
        text-align: center;
        font-weight: 500;
        margin: 1em 2em;
    }


    .who-we-are {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 60vh;
        background-image: url('../img/mainpage-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 1.5em;
    }

    .who-we-are>h1 {
        color: #FFFFFF;
        font-size: 3em;
        font-weight: bold;
    }

    .who-we-are>p {
        color: #FFFFFF;
        font-size: 1.5em;
        width: 70%;
        text-align: center;
    }

    .img-container-mainpage {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }
    .img-container-mainpage>img {
        height: 90%;
        width: 90%;
        object-fit: contain;

    }
}

@media (min-width: 1800px) {

    .container-main-page {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .logo-nav {
        margin-top: 2.5em;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 2.5em;
    }

    .nav-links {
        align-items: flex-end;
        justify-items: end;
        margin-right: 1em;
        font-size: 1.5em;
    }

    .basic-info {
        color: #ffffff;
        width: 35vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5em;
    }

    .basic-info-background {
        background-image: url('../img/mainpage-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 75vh;
    }

    .basic-info>h1 {
        font-weight: bold;
        font-size: calc(100% + 1.5vw);
    }

    .basic-info>p {
        font-weight: 600;
        font-size: calc(100% + 0.5vw);
    }

    .select-date {
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-with-title {
        width: 20%;
        color: aqua;
    }

    .dropdown-form {
        display: flex;
        height: 100%;
        width: 75vw;
        align-items: center;
        justify-content: space-around;
    }

    .dropdown-with-title>p {
        font-weight: 500;
        font-size: 1.4em;
        color: #6FAB87;
    }

    .dropdown-with-title>input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 1em;
        width: 13vw;
    }

    .dropdown-with-title>select {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
        width: 10vw;
    }

    .dropdown-form>button {
        margin-top: 2%;
    }

    .how-it-works {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-it-works>h1 {
        font-size: 2.5em;
    }

    .how-it-works-container {
        display: flex;
        height: 75vh;
        width: 80%;
    }

    .user-types {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 2em 2em;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 5px rgba(94, 94, 94, 0.25);
        border-radius: 20px;
    }

    .user-types>h2 {
        color: #6FAB87;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }

    .user-types>p {
        text-align: center;
        font-weight: 500;
        margin: 1em 2em;
        font-size: 1.2em;
    }



    .who-we-are {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 60vh;
        background-image: url('../img/mainpage-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .who-we-are>h1 {
        color: #FFFFFF;
        font-size: 3em;
        font-weight: bold;
    }

    .who-we-are>p {
        color: #FFFFFF;
        font-size: 1.7em;
        width: 70%;
        text-align: center;
    }

    .img-container-mainpage {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }
    .img-container-mainpage>img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }
}

/* offers */
@media (max-width: 759px) {
    .filter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(100vw - 2em);
        padding: 0 0 2em 2em;
    }
}

@media (min-width: 760px) and (max-width: 1799px) {
    .filter {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: calc(100vw - 2em);
        height: 10vh;
        padding: 0 0 2em 2em;
    }
}

@media (min-width: 1800px) {
    .filter {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: calc(100vw - 2em);
        height: 10vh;
        padding: 0 0 2em 2em;
    }
}

/* profile */
@media (max-width: 759px) {
    .profile-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        height: 40vh;
    }

    .profile-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%), #6FAB87;
        height: 20vh;
        width: 100%;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15vh;
        width: 40vw;
    }

    .profile-img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .profile-img>img {
        border-radius: 50%;
        position: absolute;
        width: 30vw;
        height: 30vw;
    }

    .profile-info>h1 {
        color: #ffffff;
    }

    .container-main-page>h1 {
        margin: 1em;
    }
}

@media (min-width: 760px) and (max-width: 1799px) {
    .profile-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }

    .profile-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%), #6FAB87;
        height: 25vh;
        width: 100%;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 40vw;
    }

    .profile-img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .profile-img>img {
        border-radius: 50%;
        position: absolute;
        width: 10vw;
        height: 10vw;
    }

    .profile-info>h1 {
        color: #ffffff;

    }

    .container-main-page>h1 {
        margin: 1em;
    }

}

@media (min-width: 1800px) {
    .profile-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }

    .profile-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: linear-gradient(90deg, #6FAB87 0%, #356548 100%), #6FAB87;
        height: 25vh;
        width: 100%;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 40vw;
    }

    .profile-img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .profile-img>img {
        border-radius: 50%;
        position: absolute;
        width: 10vw;
        height: 10vw;
    }

    .profile-info>h1 {
        color: #ffffff;
        margin-top: 1.5em;
        font-size: 4em;
    }

    .container-main-page>h1 {
        margin: 1em;
    }
}


/* offers-details */

@media (max-width: 759px) {
    .about-house-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-height: 70vh;
        align-items: center;
        margin-top: 2em;
    }

    .about-house {
        display: flex;
        flex-direction: column;
        width: 95vw;
        max-height: 70vh;
        align-items: center;
    }

    .about-house-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85vw;
        height: 50vh;
        object-fit: cover;
    }

    .about-house-img-container>img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }

    .about-house>div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
        height: auto;
    }

    .about-house>div>div>h1 {
        font-size: 1.7em;
        text-align: center;
    }

    .about-house>div>div>p {
        font-size: 1em;
    }

    .about-house>div>p {
        font-size: 1em;
    }

    .details-with-title-container {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-self: center;
        margin: 2em 0 2em 0;
    }

    .details-with-title {
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .details-with-title>p {
        font-size: 2em;
    }

    .availability {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 90vw;
    }

    .availability>div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 3px solid #6FAB87;
        border-radius: 12px;
    }

    .availability>div{
        font-size: 1.2em;
        height: 7vh;
        margin: 1em 0;
    }

    .requirements {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .requirements>div:last-child {
        width: 90vw;
        height: auto;
    }

    .requirements>div:last-child>p {
        font-size: 1em;
        text-align: center;
    }

    .requirements>div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vw;
        height: auto;
    }

    .requirements>div:first-child>i {
        font-size: 2.5em;
        margin: 1em;
        color: #6FAB87;
    }

    .map {
        display: flex;
        justify-content: center;
        width: 90vw;
        height: auto;
    }

    .map>iframe {
        height: 50vh;
        width: 90vw;
    }
}

@media (min-width: 760px) and (max-width: 1799px) {
    .about-house-container {
        display: flex;
        width: 100vw;
        max-height: 70vh;
        justify-content: center;
        margin-top: 2em;
    }

    .about-house {
        display: flex;
        width: 95vw;
        max-height: 70vh;
        justify-content: space-between;
        align-items: stretch;
    }

    .about-house-img-container {
        width: 40vw;
        height: 35vh;
        object-fit: cover;
    }

    .about-house-img-container>img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }

    .about-house>div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        width: 40vw;
        height: auto;
    }

    .details-with-title-container {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-self: center;
        margin: 2em 0 2em 0;
    }

    .details-with-title {
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: auto;
        justify-content: center;
        align-self: center;
    }

    .availability {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 3px solid #6FAB87;
        border-radius: 12px;
    }

    .details-with-title>p {
        font-size: 1.5em;
    }

    .availability>div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .availability>div>p {
        font-size: 1.2em;
    }

    .availability>div>i {
        font-size: 2em;
        margin: 0 2em 0 2em;
    }

    .requirements {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .requirements>div:last-child {
        width: auto;
        height: auto;
        margin-left: 10%;
        font-size: 1.1em;
    }

    .requirements>div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: auto;
        max-width: 30%;
    }

    .requirements>div:first-child>i {
        font-size: 3em;
        margin: 1em;
        color: #6FAB87;
    }
}

@media (min-width: 1800px) {
    .about-house-container {
        display: flex;
        width: 100vw;
        max-height: 70vh;
        justify-content: center;
        margin-top: 2em;
    }

    .about-house {
        display: flex;
        width: 95vw;
        max-height: 70vh;
        justify-content: space-between;
        align-items: stretch;
    }

    .about-house-img-container {
        width: 40vw;
        height: 35vh;
        object-fit: cover;
    }

    .about-house-img-container>img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }

    .about-house>img {
        width: 40vw;
        height: auto;
        object-fit: contain;
    }

    .about-house>div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        width: 40vw;
        height: auto;
    }

    .about-house>div>div>h1 {
        font-size: 3em;
    }

    .about-house>div>div>p {
        font-size: 1.5em;
    }

    .about-house>div>p {
        font-size: 1.2em;
    }

    .details-with-title-container {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-self: center;
        margin: 2em 0 2em 0;
    }

    .details-with-title {
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: auto;
        justify-content: center;
        align-self: center;
    }

    .details-with-title>p {
        font-size: 2em;
    }

    .availability {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 3px solid #6FAB87;
        border-radius: 12px;
    }

    .availability>div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .availability>div>p {
        font-size: 1.5em;
    }

    .availability>div>i {
        font-size: 2.2em;
        margin: 0 2em 0 2em;
    }

    .requirements {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .requirements>div:last-child {
        width: auto;
        height: auto;
        margin-left: 10%;
        font-size: 1.5em;
    }

    .requirements>div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: auto;
        max-width: 30%;
    }

    .requirements>div:first-child>i {
        font-size: 3em;
        margin: 1em;
        color: #6FAB87;
    }
}





@media (max-width: 759px) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .form-container>h1 {
        font-size: 2em;
    }
    
    .offer-form {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    
    .offer-form>div{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin-top: 1em;
    }

    .offer-form>div>p{
        font-size: 1.5em;
    }

    .offer-form>div>input{
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        font-size: 1.2em;
        padding: 0.5em;
    }

    .requirements-add {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .requirements-add>div {
        display: flex;
        width: 20%;
        justify-content: space-evenly;
        align-items: center;
    }

    .requirements-add>div>i {
        font-size: 4em;
        color: #6FAB87;
    }

    .requirements-add>div>input {
        width: 2em;
        height: 2em;
    }

    .available {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }

    .available>input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
        height: 80%;
        font-size: 1em;
    }

    .available>p {
        font-size: 1.2em;
    }

    .description>textarea {
        width: 80vw;
        height: 40vh;
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 1em;
    }

    .offer-form>button {
        align-self: center;
        margin: 1em 0 1em 0;
    }
}

@media (min-width: 760px) and (max-width: 1799px) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    
    .offer-form {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    
    .offer-form>div{
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin-top: 1em;
    }

    .offer-form>div>p{
        font-size: 1.3em;
    }

    .offer-form>div>input{
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        font-size: 1.1em;
        padding: 0.5em;
    }

    .offer-form>div>iframe {
        width: 90vw;
        height: 50vh;
        border-radius: 30px;
    }

    .requirements-add {
        width: 50vw;
        display: flex;
        justify-content: space-between;
    }

    .requirements-add>div {
        display: flex;
        width: 20%;
        justify-content: space-evenly;
    }

    .requirements-add>div>i {
        font-size: 2.5em;
        color: #6FAB87;
    }

    .available {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40vw;
    }

    .available>input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
        height: 80%;
    }

    .description>textarea {
        width: 50vw;
        height: 40vh;
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 1em;
    }

    .offer-form>button {
        align-self: center;
        margin: 1em 0 1em 0;
    }
}

@media (min-width: 1800px) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .form-container>h1 {
        font-size: 4em;
    }
    
    .offer-form {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    
    .offer-form>div{
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin-top: 1em;
    }

    .offer-form>div>p{
        font-size: 2.5em;
    }

    .offer-form>div>input{
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        font-size: 2em;
        padding: 0.5em;
    }

    .requirements-add {
        width: 50vw;
        display: flex;
        justify-content: space-between;
    }

    .requirements-add>div {
        display: flex;
        width: 20%;
        justify-content: space-evenly;
        align-items: center;
    }

    .requirements-add>div>i {
        font-size: 7em;
        color: #6FAB87;
    }

    .requirements-add>div>input {
        width: 3em;
        height: 3em;
    }

    .available {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40vw;
    }

    .available>input {
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 0.5em;
        height: 80%;
        font-size: 2em;
    }

    .available>p {
        font-size: 2em;
    }

    .description>textarea {
        width: 50vw;
        height: 40vh;
        background: rgba(139, 162, 154, 0.3);
        border-radius: 30px;
        padding: 1em;
    }

    .offer-form>button {
        align-self: center;
        margin: 1em 0 1em 0;
    }
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}